<html>
    <html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Mongoose!</title>
    </head>
    <body>
        <div class="col-md-12">
        <h2>All Mongooses!</h2>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Home Town</th>
                    <th>Age</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <% for(var info in results) { %>
                    <td><a href="/mongooses/<%=results[info].id %>"><%= results[info].name %></a> </td>
                    <td><%= results[info].home_town %></td>   
                    <td><%= results[info].age %></td> 
                    <td><a href="/mongooses/destroy/<%=results[info].id %>">Delete</a><a href="/mongooses/edit/<%=results[info].id %>"> |  Edit</a></td>        
                </tr>
                <% } %>
            </tbody>
        </table>
        </div>
        <button><a href="/mongooses/new">Make a new Mongoose!</a></button>
    </body>
</html>