@model user_dashboard.Models.Message

@{
    ViewData["Title"] = "User Information";
}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p>Test App 
                @if(@ViewBag.logged_in_user.user_level == 9)
                {<a href="/dashboard/admin">Dashboard</a>
                } 
                else 
                {
                <a href="/dashboard">Dashboard</a>
                }
                <a href="">Profile</a>
                </p>
        </div>
        <div class="col-md-2">
            <a href="/logout"><button>Logout</button></a>
        </div>
    </div>
    <h2>@ViewBag.user.first_name @ViewBag.user.last_name</h2>
    <p>Registered at: @ViewBag.user.created_at</p>
    <p>User ID # @ViewBag.user.UserId</p>
    <p>Email Address: @ViewBag.user.email</p>
    <h2>Leave a message for @ViewBag.user.first_name</h2>
    <form asp-controller="User" asp-action="Message" method="post">
        <textarea asp-for="message" rows="4" cols ="50"></textarea>
        <p><button type="submit" class="btn btn-primary"> Post a Message</button></p>
        <div asp-validation-summary="All"></div>
        <input type="hidden" value="@ViewBag.UserId" name="user_id">
    </form>
</div>
