@model user_dashboard.Models.UserViewModels

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p>Test App <a href="/admin/dashboard">Dashboard</a></p>
        </div>
        <div class="col-md-2">
            <a href="/logout"><button>Logout</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>All Users</h2>
        </div>
        <div class="col-md-2">
            <button><a href="/users/new">Add New User</a></button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>created_at</th>
                    <th>User Level</th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach(var user in @ViewBag.user) {
                <tbody>
                    <tr>
                        <td>@user.UserId</td>
                        <td><a href="/users/show/@user.UserId">@user.first_name @user.last_name</a></td>
                        <td>@user.email</td>
                        <td>@user.created_at</td>
                        @if(user.user_level ==0) 
                        {
                        <td>Normal</td>
                        }
                        else {
                            <td>Admin</td>
                        }
                        <td><a href="/users/edit/@user.UserId">edit</a> <a href="/delete/@user.UserId">remove</a></td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>